@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1634530209180') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinshi:before {
  content: "\e68c";
}

.icon-paobu:before {
  content: "\e61c";
}

.icon-baike:before {
  content: "\e614";
}

